body {
height:100%;
background: #97c3e5; /* Old browsers */
background: radial-gradient(ellipse at center,  #97c3e5 0%,#62a2d6 44%,#2989d8 61%,#006ec9 100%); /* W3C */
}

.container {
    width: 420px;
    margin: 64px auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    position: static;
}

#signup header {
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

#signup header img {
	margin :0;
	float:left;
}

#signup header h3 {
	text-align:right;
	border-bottom: 2px solid #c95265;
	font-family: Arial,Helvetica,sans-serif;
	color: #126fb4;
	font-style: italic;
	line-height: 0em;
	font-weight: bold;
	background-color: #fefefe;
}

#signup header h3 p {
font-weight: normal;
font-size: 0.7em;
}
#signup hr {
	border: 1px solid #e8e8e8;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
	text-align: center;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=text], input[type=password] {
    background: #f5f5f5;
    font-size: 0.9rem;
    border-radius: 3px;
    border: none;
    padding: 8px 4px;
    width: 260px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
/* Masque les champs date au chargement de la page */
#signup div.inputs ul li label+input[type=text] {
	display: none;
}

#signup .inputs input[type=text]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
/*    display: block; */
    display: none;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

.inputs>ul {
	padding: 0 0 16px;
}
.inputs>ul>li {
    display:inline-block;
	width:120px;
	text-align: center;
}
input[type="radio"] {
    height: 1px;
    opacity: 0;
    padding: 12px 48px;
    position: absolute;
    width: 1px;
}
input[type="radio"] + label img {
    border: medium none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2px;
    padding: 24px;
}
input[type="radio"]:checked + label img {
    background: url("../img/aroundBlue-rond.png") no-repeat scroll 0 center transparent;
	transform: scale(1.2, 1.2);
    font-weight: bold;
}
#signup .inputs li label {
    display: inline;
}


#signup input[type="radio"]~.month-picker {
	display: none;
}

#signup input[type="radio"]:checked ~.month-picker,
#signup .inputs input[type="radio"]:checked ~.mtz-monthpicker-widgetcontainer {
	display:inline;
}

footer {
  background: none repeat scroll 0 50% #ccc;
  bottom: 0;
  height: 15px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}