.fenetre {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  background-color: #cccccc;
  width: 480px;
  height: 320px;
  position: fixed;
  resize:both;
}
.titreFenetre {
	border: 1px outset ;
	background-color: black;
	color: white;
	font-size: 0.9em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: move;
	line-height: 1.6em;
}
.titreFenetre button:last-child,
.closeFenetre {
	display:block;
	border: 1px outset #666666;
	float:right;
	right:2px;
	width: 10px;
	height: 10px;
	margin: 2px;
	padding: 2px 4px 2px 1px;
	background-color: #a9a9a9;
	background-image: linear-gradient(left top, #ababab 5%, #A9A9A9 95%);
	background-image: -o-linear-gradient(left top, #ababab 5%, #A9A9A9 95%);
	background-image: -moz-linear-gradient(left top, #ababab 5%, #A9A9A9 95%);
	background-image: -webkit-linear-gradient(left top, #ababab 5%, #A9A9A9 95%);
	cursor: pointer;
}
.titreFenetre button:last-child:before,
.closeFenetre:before {
	position:absolute;
	margin-left:-4px;
	width: 10px;
	height: 10px;
	text-align: center;
	content: 'x';
	color:#000;
	font-weight: bold;
	font-family: Verdana Ref,Helvetica,sans-serif;
	font-size: 0.8em;
	line-height: .9em;
}
.basFenetre {
  border: 1px groove #999999;
  bottom: 1px;
  position: absolute;
  width: 100%;
  height: 8px;
}
.contenuFenetre {
  border-bottom: 2px groove silver;
	padding: 1px;
	position: absolute;
	top: 24px;
	left: 0px;
	bottom: 8px;
	right: 0px;
	overflow:hidden;
}
.topAppli {
  padding-left: 4px;
  color: #666666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  display: none;
}
.corpsAppli {
  font-family: Arial,Helvetica,sans-serif;
  background-color: white;
	position: absolute;
	top: 16px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

menu {
  position: absolute;
  list-style-type: none;
  background-color: black;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
	padding:0;
}
menu div {
  font-size: 13px;
  border-style: outset;
  border-width: 2px;
  margin: 0px;
  padding-left: 2px;
  cursor: move;
  font-weight: bold;
}

menu li {
	border: 2px outset silver;
	color: black;
	background-color: silver;
  font-size: 12px;
	cursor: pointer;
	padding-right: 12px;
}

menu li:hover {
	border: 2px inset silver;
}
menu input[type="radio"] {
	opacity: 0;
	position: absolute;
	width: 1px;
	height: 1px;
}

menu label {
	display: block;
	width: 100%;
	padding-left: 4px;
	padding-right: 8px;
	white-space:nowrap;
}
label.sous-menu {
	background-image: url(./images/puceRep.png);
	background-position: right center;
	background-repeat: no-repeat;
}

input[type="radio"]:checked + label.sous-menu {
	background-image: url(./images/puceRepSelect.png);
}

input[type="radio"] + label {
	background-color: transparent;
}
input[type="radio"]:checked + label {
	background-color: white;
}

input[type="radio"] ~ menu {
  margin-left: 64px;
  display: none;
}
input[type="radio"]:checked ~ menu {
  display: inline;
}